{% extends "base.html" %}

{% block main %}
<article>
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label>
        Username
        <input name="username" type="text" />
    </label>
    <label>
        Password
        <input name="password" type="password" />
    </label>
    <button>Log In</button>
    </fieldset>
    <a href="{% url 'social:begin' 'instagram' %}">Connect With Instagram</a>
    <br>
    <a href="{% url 'social:begin' 'facebook' %}">Connect With Facebook</a>

</form>
</article>
{% endblock main %}

