<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>KEA Bank</title>
</head>
<body>


<div>
    {% load l10n %}

    <header style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 10px 30px " class="container">
        <nav>
            <ul>
                <li><a href="/"><strong>Kea Bank</strong></a></li>
            </ul>
            {% if user.is_authenticated%}
              <ul>
                {% if not user.is_staff %}
                <li><a href="{% url 'bank_app:customer_account' %}">My Account</a></li>
                <li><a href="{% url 'bank_app:make_transfer' %}">Internal Transfer</a></li>
                <li><a href="{% url 'bank_app:send_transfer_request' %}">External Transfer</a></li>
                <li><a href="{% url 'bank_app:make_loan' %}">Make Loan</a></li>
                {% endif %}
                {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                <li><a href="{% url 'bank_app:staff_new_customer' %}">Create New Customer</a></li>
                <li><a href="{% url 'bank_app:staff_all_customers' %}">All customers</a></li>
                <li><a href="{% url 'bank_app:search_customers' %}">Search</a></li>
                {% endif %}
                <li><a href="{% url 'two_factor:profile' %}">Multifactor Authentication</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
              </ul>
            {% else %}
              <ul>
                <li><a href="{% url 'logout' %}">Log In</a></li>
              </ul>
            {% endif %}
        </nav>
        {% if user.is_staff %}
        <p>Bank Staff Portal</p>
        {% else %}
        <h2>Bank Customer Portal</h2>
        {% endif %}
    </header>

    <main class="container">
    {% block main %}
    {% endblock main %}
    </main>

    <footer class="container" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 20px 30px;">
        <p>&copy; The Kea Bank App</p>
    </footer>
</div>

    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
