<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <title>KEA Bank</title>
</head>
<body>


<div class="container">
    {% load l10n %}

    <header style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 10px 30px ">
        <nav>
          <ul>
            <li><a href="/"><strong>Kea Bank</strong></a></li>
          </ul>

            {% if user.is_authenticated%}
              <ul>
                <li><a href="{% url 'bank_app:customer_account' %}">My Account</a></li>
                <li><a href="{% url 'bank_app:customer_transaction' %}">Transaction</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Log out</a></li>

              </ul>
            {% else %}
            <ul>
                    <li><a href="{% url 'logout' %}">Log In</a></li>
              </ul>
            {% endif %}

        </nav>
        {% if user.is_staff %}
        <p>Bank Staff Portal</p>
        {% else %}
        <h2>Bank Customer Portal</h2>
        {% endif %}
    </header>

    <main class="container">
    {% block main %}
    {% endblock main %}
    </main>

    <footer class="container" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 20px 30px ">
        <p>&copy; The Kea Bank App</p>
    </footer>
</div>

    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
