{% extends "base.html" %}

{% block main %}



<article>
    <p>Welcome customer, {{ user.username }}</p>
    <h3>My accounts:</h3>
    <table>
        <tr>
            <th>Account Name</th>
            <th>Loan Status </th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td><a href="{% url 'bank_app:account_single' account.pk %}">{{ account.name }}</a></td>
            
            <td>{{ account.is_loan|yesno:"loan," }}</td>
            
            <td></td>
            
        </tr>
        {% endfor %}
    </table>
</article>

{% endblock main %}
