{% extends "base.html" %}

{% block main %}

<article>
    {% if user.is_staff %}
    <p><strong>Welcome staff-member, {{ user.username }}</strong></p>
    {% else %}
    <p><strong>Welcome, {{ user.username }}</strong></p>
    {% endif %}
    
    {% if not user.is_staff %}
    <h3>My accounts:</h3>
    
    <table>
        <tr>
            <th>Account Number</th>
            <th>Account Name</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td><a href="{% url 'bank_app:account_details' account.pk %}">{{ account.pk }}</a></td>
            <td>{{ account.name }}</td>
            <td>{{ account.is_loan|yesno:"loan," }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</article>

{% endblock main %}